@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Geist";
    src: url("./fonts/GeistVF.woff") format("woff");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Geist Mono";
    src: url("./fonts/GeistMonoVF.woff") format("woff");
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --background: #ffffff;
    --foreground: #000000;
    --accent: #ff7452;
    --accent-hover: #ff5c33;
    --border: #e5e7eb;
    --secondary: #6b7280;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Geist", sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 0.3s ease-in-out forwards;
}

/* Scrollbar'ı gizle ama fonksiyonelliğini koru */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}
